
:root {
  --main-theme-color: #92C7CF;
  --main-bg-color: #e3f7fc;
  --content-bg-color:white;
}

/* background: rgb(244, 243, 243); */


html, body {
  margin: 0;
  height: 100%;
  /* background: #FFE699; */
  background: var(--content-bg-color);
  scroll-behavior: smooth;
}


#stage {
  margin: 0;
  height: 100%;
  background: var(--main-bg-color);

}

body::-webkit-scrollbar {
  display: none;
}



#intro{
  margin: 0;
  height: 600px;
  background: var(--content-bg-color);
}

#writings{
  margin: 0;
  height: 300px;
  background: var(--content-bg-color);
}




#canvas{
	margin-left: 20%;
	margin-right: 20%;
	background: transparent;
	color: black;
  position: absolute;
}

.title-box-front{
  display: flex;
  margin-top: 40%;
  align-items:center;
}

.title-name-front{
  font-size: 70px;
  font-weight: 200;
  font-family: Geneva, Verdana, sans-serif;
}

.title-name-chn{
  font-size: 70px;
  font-weight: 600;
  font-family: fangsong,sans-serif;
}

.profile-scheme-km{
  border-left: #1279ff 12px solid ;
}

.profile-scheme-kcl{
  border-left: #f10000 12px solid ;
}

.profile-scheme-hw{
  border-left: #ff4b4b 12px solid ;
}

.profile {
  transform-origin: 1 1;
  transition: transform .25s, visibility .25s ease-in;
}

.profile-scheme-active{
  border-left: #81ff93 32px solid ;
}

.profile-scheme-current{
  background-color: #81ff93;
}

.profile-scheme-past{
  border-left: white 12px solid ;
}

.edu-scheme-past{
  border-left: white 12px solid ;
}

.edu-scheme-active{
  border-left: #81ff93 12px solid ;
}


.card:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


@media only screen and (max-width: 1100px) and (min-width:700px) {
  #canvas {
  margin-left: 10%;
	margin-right: 10%;
	background: transparent;
	color: black;
  position: absolute;
  }


  .title-name-front{
    font-size: 60px;
  }

  .title-name-chn{
    font-size: 60px;
    font-weight: 600;
  }


}


@media only screen and (max-width: 700px) {
  #canvas {
  margin-left: 5%;
	margin-right: 5%;
	background: transparent;
	color: black;
  position: absolute;
  }

  .title-name-front{
    font-size: 40px;
  }

  .title-name-chn{
    font-size: 40px;
    font-weight: 600;
  }


}


p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: justify;
}


.navbar:link {
  color: #92C7CF;
  background-color: transparent;
  text-decoration: none;
}
.navbar:visited {
  color: #92C7CF;
  background-color: transparent;
  text-decoration: none;
}
.navbar:hover {
  color: #92C7CF;
  background-color: transparent;
  text-decoration: none;
}
.navbar:active {
  color: #92C7CF;
  background-color: transparent;
  text-decoration: none;
}


.archive-link:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.archive-link:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.archive-link:hover {
  color: limegreen;
  background-color: transparent;
  text-decoration: underline;
}
.archive-link:active {
  color: limegreen;
  background-color: transparent;
  text-decoration: underline;
}




.navbar-index:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.navbar-index:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.navbar-index:hover {
  color: limegreen;
  background-color: transparent;
  text-decoration: underline;
}
.navbar-index:active {
  color: limegreen;
  background-color: transparent;
  text-decoration: underline;
}



.title-name{
	font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.menu-text{
	font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.title-box{
   display: flex;
   align-items:center;
}


.index-title{
	font-size: 25px;
	color: limegreen;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}