<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bulma.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/general.css">
	<link rel="stylesheet" href="css/github-markdown-light.css">
	<script src="resrouces/tex-svg.js" id="MathJax-script" async></script>
	<script src="resrouces/particles.js"></script>
	<title>{{ title }}</title>


</head>


<style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
</style>

<body>
	<div id="stage">
		<div id="canvas">
			<div class="title-box-front">
				{# <img class="title-img" src="imgs/cat.png" height="100px" width="100px"> #}
				<span>
					<span class="title-name-front">FU ZHANG | 张辅</span> <br />
				</span>
			</div>
			<span class="tag is-primary is-light">#Software Engineer</span>
			<span class="tag is-link is-light">#Piano Player</span>
			<span class="tag is-info is-light">#B♭ Clarient Player</span>
			<span class="tag is-success is-light">#Traveller</span>
			<span class="tag is-warning is-light">#Vim person</span>
			<span class="tag is-danger is-light">#cat person</span>

			<br><br><br><br>
			<a href="#stage2"><button class="button is-success">Read about me ⬇️</button></a>
			<a href="/pages/list"><button class="button is-info">Read my writings</button></a>
		</div>
	</div>

	<div id="stage2">


		<div class="markdown-body">
			<div class="content">

				<h1>😊 Greeting!</h1>
				<div class="card">
					<div class="card-content">
						<div class="content">
							<p>Welcome to my site! You will be able to read articles I write in a wide range and
								projects I developed for fun or for real business. I hope you can find things you are
								looking here. Please browse in the way you like, Enjoy! 😊 </p>
						</div>
					</div>
				</div>

				{# <button class="button">Test</button> #}

				<br><br>



			</div>
		</div>



</body>

</html>


<script>
	particlesJS.load('stage', '/resrouces/particlesjs-config.json', function () {
		console.log('callback - particles.js config loaded');
	});
</script>