<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../css/base.css">
	<link rel="stylesheet" href="../../css/general.css">
	<link rel="stylesheet" href="../../css/github-markdown-light.css">
	<script src="../../resrouces/tex-svg.js" id="MathJax-script" async></script>
	<script src="../../resrouces/particles.js"></script>

    <title>{{ title }}</title>
	<style>
		.markdown-body {
			box-sizing: border-box;
			min-width: 200px;
			max-width: 980px;
			margin: 0 auto;
			padding: 45px;
		}

		@media (max-width: 767px) {
			.markdown-body {
				padding: 15px;
			}
		}


	</style>

  </head>
 <body id="stage">
	<div id="canvas">	
	 <article class="markdown-body">
	  		<div class="title-box">
				<span>
					<span class="title-name">About</span> <br/>
					<span class="menu-text">
						<a class="navbar" href="/">Home</a> | 
						<a class="navbar" href="">About</a> | 
						<a class="navbar" href="../list">Posts</a>
					</span>
				</span>
			</div>
			</br>
			<div class="content">

			{{ content | safe }}

			</div>
  	</article>
	</div>
  </body>

</html>

<script>
particlesJS.load('stage', '../../resrouces/particlesjs-config.json', function() {
  console.log('callback - particles.js config loaded');
});
</script>

