<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../css/base.css">
	<link rel="stylesheet" href="../../css/general.css">
	<link rel="stylesheet" href="../../css/github-markdown-light.css">
	<script src="../../resrouces/tex-svg.js" id="MathJax-script" async></script>
    <title>{{ title }}</title>
	<style>
		.markdown-body {
			box-sizing: border-box;
			min-width: 200px;
			max-width: 980px;
			margin: 0 auto;
			padding: 45px;
		}

		@media (max-width: 767px) {
			.markdown-body {
				padding: 15px;
			}
		}


	</style>

  </head>
	<body id="stage">
	<div id="canvas">	
	 <article class="markdown-body">
	  		<div class="title-box">
				<span>
					<span class="title-name">Archives</span> <br/>
					<span class="menu-text">
						<a class="navbar" href="/">Home</a> | 
						<a class="navbar" href="../about">About | 
						<a class="navbar" href="">Posts</a>
					</span>
				</span>
			</div>
			</br>
			</br>


			{% for eachWriting in collections.writings %}
			<span style="color: limegreen; font-size: 20px;">
			{{eachWriting.date.getDay() + 1}}-{{eachWriting.date.getMonth() + 1}}-{{eachWriting.date.getFullYear() }}</span> &nbsp;&nbsp;&nbsp;&nbsp;
			 <a style="font-size: 20px" class="archive-link" href="{{eachWriting.url}}">{{eachWriting.data.title}}</a><br/>
			{%- endfor %}
			
  	</article>
	</div>
  </body>
</html>


