<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../../css/base.css">
	<link rel="stylesheet" href="../../../css/general.css">
	<link rel="stylesheet" href="../../../css/github-markdown-light.css">
	<script src="../../../resrouces/tex-svg.js" id="MathJax-script" async></script>
    <title>{{ title }}</title>


	<style>
		.markdown-body {
			box-sizing: border-box;
			min-width: 200px;
			max-width: 980px;
			margin: 0 auto;
			padding: 45px;
		}

		@media (max-width: 767px) {
			.markdown-body {
				padding: 15px;
			}
		}

	</style>

  </head>
  <body>
	 <article class="markdown-body">
	  		<div class="title-box">
				<img class="title-img" src="../../../imgs/logo.png" height="60px" width="60px"> 
				<span>
					<span class="title-name">FU ZHANG</span> <br/>
					<span class="menu-text">
						<a class="navbar" href="/">Home</a> | 
						<a class="navbar" href="../../about">About</a> | 
						<a class="navbar" href="../../list">Posts</a>
					</span>
				</span>
			</div>
			</br>
			</br>
			{{ content | safe }}
  	</article>
    	 <div class="footer">
	 &copy 2023 Fu Zhang
	</div>
  </body>
</html>


